
apiVersion: v1
kind: Namespace
metadata:
  name: 04-replica-set
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo-deployment
  namespace: 04-replica-set
  labels:
    app: podinfo
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: podinfo
  template:
    metadata:
      labels:
        app: podinfo
    spec:
      containers:
        - name: podinfo
          image: stefanprodan/podinfo:latest
          env:
            - name: PODINFO_UI_MESSAGE
              value: "Hello from ReplicaSet!"
